body {}

div#wrapper {
	margin: 0 auto;
	width: 80%;
}

div#chatroom {
	display: block;
	height: 300px;
	overflow: auto;
	margin-bottom: 10px;
	position: relative;
}

div#divider {
	height: 3px;
	background-color: #ff5555;
	margin-bottom: 8px;
}

ul#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
}

input#chat_box {
	min-width: 80%;
	min-height: 30px;
}